.features{
    grid-column: 2 / 10;

    .heading-1{
        text-align: center;
        margin-top: 3rem;
        font-size: 4.5rem;
    }

    &__box{
        max-width: 380px;
    }

    &--container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-items: center;
        // grid-template-columns: repeat(auto-fit, 200px);
        // grid-template-rows: 1fr 1fr;
        grid-gap: 13rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        align-content: space-between;
    }

    &__icon{
        height: 76px;
        margin-left:50% ;
        transform: translateX(-50%);
        filter: invert(37%) sepia(99%) saturate(5222%) hue-rotate(255deg) brightness(98%) contrast(94%);
    }

    &__header{
        vertical-align: middle;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__text{
        font-size: 2rem;
        text-align: center;
        color: $color-grey-light-2;
        font-weight: 500;
    }
}