@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

.wrapper {
  overflow-x: hidden; }

.container {
  display: grid;
  grid-template-rows: minmax(70vh, 100vh) repeat(4, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: minmax(70vh, 100vh) repeat(4, minmax(min-content, max-content));
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 1fr)) minmax(6rem, 1fr);
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 1fr)) minmax(6rem, 1fr); }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 1fr)) minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 1fr)) minmax(6rem, 1fr); } }

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6em 2.2em;
  transition: all .5s ease;
  cursor: pointer; }
  .btn-full {
    background: #aa44f2;
    background: linear-gradient(43deg, #aa44f2 10%, #444ff2 100%, #444ff2 100%, #aa44f2 80%);
    background-size: 150% auto;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.16); }
    .btn-full.ar {
      background-size: 200% auto; }
    .btn-full:hover {
      background-position: -140px 0; }
      .btn-full:hover.ar {
        background-position: 160px 0; }
      @media only screen and (max-width: 75em) {
        .btn-full:hover {
          background-position: -120px 0; }
          .btn-full:hover.ar {
            background-position: 120px 0; } }
      @media only screen and (max-width: 37.5em) {
        .btn-full:hover {
          background-position: -90px 0; }
          .btn-full:hover.ar {
            background-position: 80px 0; } }
  .btn-unfull {
    color: #1E1E1E;
    background-color: transparent;
    border: 1px solid #757575; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.16); }
  .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16); }

.black-screen {
  grid-column: 1/-1;
  grid-row: 1/2;
  transition: all .5s;
  z-index: -1;
  background-color: transparent; }

.display-blackscreen {
  background-color: rgba(0, 0, 0, 0.65) !important;
  z-index: 1 !important;
  display: block !important; }

.logo {
  font-size: 3.4rem;
  font: 800; }
  .logo span {
    color: #863EF2; }

.heading-1 {
  font-size: 6.4rem;
  font-weight: 600; }
  .heading-1 span {
    color: #863EF2; }

.plans .haeding-1.de {
  padding: 0 2.5rem; }

.heading-2 {
  font-size: 4.5rem;
  font-weight: 600; }
  .heading-2 span {
    color: #863EF2; }

.heading-3 {
  font-size: 2rem;
  font-weight: 500;
  color: #863EF2; }

.text {
  font-size: 2rem;
  color: #757575;
  font-weight: 500; }

.hero {
  grid-column: 2 / 10;
  grid-row: 1/2; }
  .hero .nav {
    display: flex;
    padding: 5rem 2rem;
    justify-content: space-between;
    position: relative; }
    .hero .nav .box, .hero .nav .icon {
      display: none; }
    @media only screen and (max-width: 1800px) {
      .hero .nav .box.de {
        display: inline-block;
        width: 65px;
        height: 65px;
        top: -10rem;
        z-index: 2; }
      .hero .nav .icon.de {
        display: block;
        stroke: #1E1E1E;
        position: relative;
        top: -1.4rem;
        fill: none;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer; }
      .hero .nav--list.de {
        width: 400px;
        background-color: white;
        padding: 20rem 20rem 10rem 20rem;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(140%);
        box-shadow: -10px 3px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        z-index: 2;
        padding: 10vw 70vw 10vw 20vw; }
      .hero .nav--item.de {
        width: 400px;
        margin-bottom: 4vw !important;
        text-align: left;
        display: block; }
        .hero .nav--item.de:first-child {
          margin-top: 10rem; }
        .hero .nav--item.de:last-child {
          margin-left: 0; } }
    @media only screen and (max-width: 62.5em) {
      .hero .nav .box {
        display: inline-block;
        width: 65px;
        height: 65px;
        top: -10rem;
        z-index: 2; }
      .hero .nav .icon {
        display: block;
        stroke: #1E1E1E;
        position: relative;
        top: -1.4rem;
        fill: none;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer; } }
  @media only screen and (max-width: 62.5em) and (max-width: 37.5em) {
    .hero .nav .icon {
      top: -2.6rem; } }
    @media only screen and (max-width: 62.5em) {
      .hero .nav--list {
        width: 400px; } }
    .hero .nav--list {
      font-size: 2.6rem;
      list-style: none;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .hero .nav--list {
          background-color: white;
          padding: 20rem 20rem 10rem 20rem;
          height: 100vh;
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(140%);
          box-shadow: -10px 3px 20px rgba(0, 0, 0, 0.1);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          z-index: 2; }
          .hero .nav--list.ar {
            padding: 20rem 45rem 10rem 20rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero .nav--list {
          padding: 20vw 20vw 10vw 20vw; } }
    .hero .nav--item {
      display: inline-block;
      padding-right: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .hero .nav--item {
          margin-bottom: 10vw;
          text-align: left; }
          .hero .nav--item:first-child {
            margin-top: 10rem; } }
      .hero .nav--item i {
        transform: rotate(90deg);
        margin-left: 5px; }
      .hero .nav--item:last-child {
        margin-left: 3rem; }
        @media only screen and (max-width: 62.5em) {
          .hero .nav--item:last-child {
            margin-left: 0; } }
      @media only screen and (max-width: 62.5em) {
        .hero .nav--item {
          display: block; } }
    .hero .nav--link {
      text-decoration: none;
      color: #1E1E1E;
      font-weight: 400;
      border-radius: 5px;
      transition: all .2s; }
      .hero .nav--link:hover {
        border-bottom: 2px solid black;
        padding-bottom: 5px; }
      .hero .nav--link-lang:hover {
        border-bottom: none;
        padding-bottom: none; }
  .hero__text {
    display: inline-block;
    margin-top: 15rem;
    max-width: 560px; }
    @media only screen and (max-width: 62.5em) {
      .hero__text {
        margin-top: 15vw; } }
    .hero__text .heading-3 {
      margin-bottom: -5px; }
    .hero__text .heading-1 {
      line-height: 1.2; }
    .hero__text .text {
      margin: 2rem 0; }
    .hero__text .btn {
      margin-top: 1rem; }
  .hero__img {
    position: absolute;
    right: -4rem;
    width: 50%;
    height: auto;
    margin-right: -10rem;
    -o-object-fit: cover;
       object-fit: cover; }
    .hero__img.ar {
      right: initial;
      left: -4rem; }
    @media only screen and (max-width: 62.5em) {
      .hero__img {
        display: none; } }

.language-box {
  width: 400px;
  min-height: 150px;
  padding: 10px 20px;
  background-color: #F8F8F8;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 10px;
  z-index: 3;
  transition: all .5s;
  opacity: 1; }
  @media only screen and (max-width: 43.75em) {
    .language-box {
      width: 300px; } }
  @media only screen and (max-width: 31.25em) {
    .language-box {
      width: 250px; } }
  .language-box i {
    transform: rotate(90deg);
    margin-left: 5px; }
  .language-box .language-li::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 95%;
    border-bottom: 1px solid #757575; }
  .language-box .language-li:last-child::after {
    display: none; }

.language-li {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  position: relative;
  padding: 10px 5px; }
  .language-li:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 7px; }
  .language-li img {
    margin-right: 10px;
    margin-left: 10px; }

.language-li-click {
  width: 150px; }

.language-link {
  font-size: 2.6rem;
  text-decoration: none;
  color: #1E1E1E; }

.language-img {
  width: 32px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 5px; }

.features {
  grid-column: 2 / 10; }
  .features .heading-1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 4.5rem; }
  .features__box {
    max-width: 380px; }
  .features--container {
    display: grid;
    grid-template-columns: repeat(3, minmax(340px, 1fr));
    justify-items: center;
    grid-gap: 13rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-content: space-between; }
    @media only screen and (max-width: 93.75em) {
      .features--container {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); } }
    @media only screen and (max-width: 37.5em) {
      .features--container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }
  .features__icon {
    height: 76px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-filter: invert(37%) sepia(99%) saturate(5222%) hue-rotate(255deg) brightness(98%) contrast(94%);
            filter: invert(37%) sepia(99%) saturate(5222%) hue-rotate(255deg) brightness(98%) contrast(94%); }
    .features__icon.ar {
      margin-right: initial;
      transform: translateX(50%);
      margin-left: 50%; }
  .features__header {
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .features__text {
    font-size: 2rem;
    text-align: center;
    color: #757575;
    font-weight: 500; }

.display {
  opacity: 0;
  z-index: -1; }

.container-color-2 {
  grid-column: 1 / -1;
  margin-top: -4rem;
  background-color: white;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.16);
  height: 100rem; }
  @media only screen and (max-width: 31.25em) {
    .container-color-2 {
      height: 140rem; } }

.contact {
  grid-column: 2 / 10;
  padding: 0 5rem; }
  @media only screen and (max-width: 31.25em) {
    .contact {
      padding: 0 2rem; } }
  .contact .heading-1 {
    margin-top: 10rem;
    text-align: center; }
  .contact__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 10rem;
    max-width: 104.4rem;
    margin: 0 auto;
    padding: 4rem;
    margin-top: 4rem;
    background-color: #F8F8F8; }
  .contact__form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(-webkit-min-content, 1fr));
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr; }
    @media only screen and (max-width: 31.25em) {
      .contact__form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(-webkit-min-content, 80px)) 1fr;
        grid-template-rows: repeat(2, minmax(min-content, 80px)) 1fr;
        width: 300px; } }
    .contact__form--input {
      border: 0;
      border-bottom: 1px solid #757575;
      background-color: inherit;
      padding: 1rem;
      padding-left: 0;
      align-self: flex-start;
      transition: all .5s; }
      .contact__form--input:focus {
        outline: none;
        border-radius: 5px; }
      .contact__form--input-name {
        margin-right: 3rem;
        justify-self: left; }
      @media only screen and (max-width: 31.25em) {
        .contact__form--input-email {
          justify-self: left; } }
      .contact__form--input-message {
        margin-top: 5rem;
        padding-bottom: 16rem;
        grid-column: 1/-1;
        align-self: flex-start; }
        @media only screen and (max-width: 31.25em) {
          .contact__form--input-message {
            width: 250px; } }
      .contact__form--input::-webkit-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-family: 2.8rem;
        color: #757575;
        font-weight: 500;
        opacity: 0.58; }
      .contact__form--input::-moz-placeholder {
        font-family: "Poppins", sans-serif;
        font-family: 2.8rem;
        color: #757575;
        font-weight: 500;
        opacity: 0.58; }
      .contact__form--input:-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-family: 2.8rem;
        color: #757575;
        font-weight: 500;
        opacity: 0.58; }
      .contact__form--input::-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-family: 2.8rem;
        color: #757575;
        font-weight: 500;
        opacity: 0.58; }
      .contact__form--input::placeholder {
        font-family: "Poppins", sans-serif;
        font-family: 2.8rem;
        color: #757575;
        font-weight: 500;
        opacity: 0.58; }
  .contact__info {
    margin: 0 auto; }
    .contact__info .heading-2 {
      font-size: 2.4rem; }
      @media only screen and (max-width: 37.5em) {
        .contact__info .heading-2 {
          font-size: 3rem; } }
    .contact__info--ul {
      list-style: none; }
    .contact__info--item {
      font-size: 1.4rem;
      font-weight: 400;
      list-style: none;
      color: #757575;
      margin-top: 1.8rem; }
      @media only screen and (max-width: 37.5em) {
        .contact__info--item {
          font-size: 2rem;
          margin-top: 2.5rem; } }
      .contact__info--item:not(:first-child) {
        margin-top: 3rem; }
      .contact__info--item i {
        text-align: right;
        margin-right: 1rem;
        color: #863EF2; }
      .contact__info--item .fa-map-marker {
        margin-right: 1.4rem;
        font-size: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .contact__info--item .fa-map-marker {
            font-size: 2.5rem;
            margin-right: 1.7rem; } }

.faq {
  grid-column: 2 / 10; }
  .faq .heading-1 {
    font-size: 4.5rem;
    margin-top: 10rem;
    text-align: center; }
  .faq__container {
    display: grid;
    grid-template-columns: minmax(-webkit-min-content, 95rem);
    grid-template-columns: minmax(min-content, 95rem);
    height: 80rem;
    flex-direction: column;
    margin: 0 auto;
    padding: 10rem 20rem;
    justify-content: center;
    align-content: start;
    margin-bottom: 33rem; }
    @media only screen and (max-width: 62.5em) {
      .faq__container {
        padding: 10rem 4rem;
        justify-items: center; } }
    @media only screen and (max-width: 31.25em) {
      .faq__container {
        padding: 10rem 1rem;
        justify-items: center; } }
  .faq__box {
    width: 100%;
    border: 1px solid #CFCCCC;
    background-color: white;
    padding: 3rem;
    margin-bottom: 4rem;
    transition: all .5s;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
    @media only screen and (max-width: 31.25em) {
      .faq__box {
        width: 90%; } }
  .faq__header {
    font-size: 2.4rem;
    font-weight: 600;
    position: relative;
    cursor: pointer; }
    .faq__header span {
      color: #863EF2; }
    .faq__header i {
      font-size: 2.5rem;
      margin-right: 1rem;
      transition: transform .5s; }
  .faq__text {
    max-height: 0;
    opacity: 0;
    margin: 0 !important;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    max-width: 60rem;
    color: #757575;
    visibility: hidden;
    transition: max-height .5s, opacity .4s; }

.faq__box.active {
  transition: all 1.2s; }
  .faq__box.active i {
    transform: rotate(90deg);
    transition: transform .5s; }
  .faq__box.active .faq__header {
    margin-bottom: 1rem; }
  .faq__box.active .faq__text {
    max-height: 1000px;
    opacity: 1;
    margin: 1rem !important;
    visibility: visible;
    transition: max-height 1s, opacity 1s; }

.container-color-1 {
  grid-column: 1 / -1;
  background-color: #F8F8F8;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.16);
  height: 100%; }
  @media only screen and (max-width: 31.25em) {
    .container-color-1 {
      height: 300rem; } }

.plans .heading-1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem; }

.plans__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -moz-column-gap: 15rem;
       column-gap: 15rem;
  row-gap: 20rem;
  justify-items: center;
  margin: 0 auto;
  padding: 10rem;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .plans__container {
      padding: 8rem; } }
  @media only screen and (max-width: 31.25em) {
    .plans__container {
      padding: 4rem 0 4rem 0; } }
  .plans__container .plans__box {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 4rem 7rem;
    width: 46.5rem;
    height: 48rem;
    background-color: white;
    border-radius: 49px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.04); }
    @media only screen and (max-width: 31.25em) {
      .plans__container .plans__box {
        margin-right: 2vw; }
        .plans__container .plans__box.ar {
          margin-right: initial;
          margin-left: 2vw; } }
    .plans__container .plans__box--border {
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .plans__container .plans__box--border1 {
    margin-top: -4.2rem;
    position: relative;
    width: 48.5rem;
    height: 53rem;
    border-radius: 49px;
    background-image: linear-gradient(43deg, #aa44f2 0%, #444ff2 100%, #444ff2 100%, #aa44f2 80%);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.04); }
    @media only screen and (max-width: 31.25em) {
      .plans__container .plans__box--border1 {
        margin-right: 2vw; } }
    .plans__container .plans__box--border1::before {
      content: "Limited Time";
      color: white;
      font-size: 2.2rem;
      font-weight: 500;
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%); }

.plans__header {
  font-size: 3rem;
  font-weight: 500;
  text-align: center; }

.plans__price {
  color: #863EF2;
  font-size: 8rem;
  font-weight: 600;
  text-align: center;
  position: relative; }
  .plans__price::before {
    content: '$';
    font-size: 4.5rem;
    color: #1E1E1E;
    position: absolute;
    left: 35px;
    font-weight: 500; }
    @media only screen and (max-width: 37.5em) {
      .plans__price::before {
        left: 25px; } }

.plans__text {
  font-size: 2.2rem;
  font-weight: 500;
  color: #757575;
  text-align: center;
  margin-top: 0;
  margin-top: -2rem;
  margin-bottom: 6rem; }

.plans__note {
  font-size: 1.6rem;
  color: #757575;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.footer {
  grid-column: 1 / -1;
  margin-top: -4rem;
  background-color: #1E1E1E;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.16);
  color: white; }
  .footer__box {
    display: grid;
    grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-template-rows: 45px 1fr 100px; }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        grid-template-columns: 30px repeat(2, minmax(200px, 1fr));
        grid-template-rows: 45px 110px minmax(-webkit-min-content, 100px) minmax(-webkit-min-content, 1fr) 100px;
        grid-template-rows: 45px 110px minmax(min-content, 100px) minmax(min-content, 1fr) 100px; } }
  .footer__heading {
    font-size: 2rem;
    font-weight: 600; }
  .footer__ul {
    list-style: none; }
  .footer__li a {
    font-size: 1.6rem;
    color: #757575;
    margin-top: .5rem;
    text-decoration: none; }
  .footer__logo {
    grid-row: 2/3;
    margin-left: 10rem;
    justify-self: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        grid-column: 2/3;
        justify-self: start;
        margin-left: 0; } }
    .footer__logo .logo {
      color: white; }
    .footer__logo .footer__rights {
      font-size: 1.4rem;
      color: #757575; }
  .footer__customer {
    grid-row: 2/3;
    justify-self: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__customer {
        grid-row: 3/4;
        grid-column: 2/3;
        justify-self: start; } }
  .footer__company {
    grid-row: 2/3;
    justify-self: start; }
    @media only screen and (max-width: 37.5em) {
      .footer__company {
        grid-row: 3/4;
        grid-column: 3/4; } }
  .footer__followus {
    grid-row: 2/3;
    justify-self: start; }
    @media only screen and (max-width: 37.5em) {
      .footer__followus {
        grid-row: 4/5;
        grid-column: 2/3; } }
    .footer__followus--ul {
      list-style: none; }
    .footer__followus--item {
      display: inline-block;
      margin-top: .5rem;
      margin-right: 1rem; }
    .footer__followus--img {
      width: 28px;
      -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); }
